<div class="record-access m-3">
  <div class="text-xl font-bold p-3">Record Access Management
    <hr>
  </div>
  <div class="doc-table w-full md:w-3/4 mx-auto">
    <p-table #dt1 [globalFilterFields]="['doc.name','doc.id']"
             [paginator]="true"
             [rowsPerPageOptions]="[5,10,20]"
             [rows]="5"
             [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
             [value]="doctors"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             styleClass="p-datatable-striped"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-end">
          <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input (input)="dt1.filterGlobal(getInput($event), 'contains')"
                       [placeholder]="'Search Doctors'" pInputText
                       style="padding: 0.5rem 1px 0.5rem 2.5rem;font-weight: 400" type="text"/>
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="border">Doctor Name</th>
          <th class="border">Public Id</th>
          <th class="border">Status</th>
          <th class="border">Action</th>
        </tr>
      </ng-template>
      <ng-template let-r pTemplate="body">
        <tr>
          <td class="border text-sm">{{ r.doc?.name }}</td>
          <td class="border text-sm">{{ r.doc?.id }}</td>
          <td class="border text-sm">
            <p-tag *ngIf="r.access==1" severity="success" value="Have Access"></p-tag>
            <p-tag *ngIf="r.access!=1" severity="danger" value="No Access"></p-tag>
          </td>
          <td class="border text-sm">
            <button (click)="giveAccess(r.doc?.id)"
                    *ngIf="r.access!=1"
                    class="p-button-success text-sm bg-green-500 px-3 py-2 rounded-md text-zinc-50 hover:bg-green-400">
              Grant Access
            </button>
            <button (click)="revokeAccess(r.doc?.id)"
                    *ngIf="r.access==1"
                    class="p-button-success text-sm bg-red-400 px-3 py-2 rounded-md text-zinc-50 hover:bg-red-600">
              Revoke Access
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No Active doctors present in the system.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>

<app-progress-card></app-progress-card>
