<div class="sidebar flex flex-col w-fit md:w-64 text-gray-700 flex-shrink-0 bg-gray-50 border-r border-gray-300">
  <div class="flex-shrink-0 px-5 py-4 flex flex-col items-center justify-between">
    <i [class]="titleIcon +' text-lg md:text-2xl xl:text-5xl mb-3 text-blue-800'"></i>
    <a
      class="text-xl font-bold text-center tracking-wider text-blue-700 uppercase rounded-lg focus:outline-none focus:shadow-outline"
      href="#">
      {{title}}</a>
    <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
        <path *ngIf="!open" clip-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
              fill-rule="evenodd"></path>
        <path *ngIf="open" clip-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              fill-rule="evenodd"></path>
      </svg>
    </button>
  </div>
  <nav [class]="{'block': !open, 'hidden': !open}" class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
    <a
      *ngFor="let nav of navs"
      [class.active-nav]="nav.active"
      [routerLink]="[nav.route]"
      class="transition-all px-4 py-2 mt-2 text-sm flex items-center rounded-lg hover:text-blue-800 focus:text-gray-900 hover:bg-zinc-100 hover:shadow-md hover:shadow-gray-500 focus:bg-gray-200">
      <i [class]="nav.icon+ ' text-lg pr-3'"></i> {{nav.title}}
    </a>
  </nav>
  <div class="flex justify-start items-center mx-5 mb-5">
    <button (click)="logOut()"
            class="transition-all border-2 p-2 px-3 w-full rounded-lg hover:bg-red-800 hover:text-gray-50 text-sm">
      <i class="fa-solid fa-right-from-bracket"></i> Log Out
    </button>
  </div>
</div>
